<!doctype html>
<html>
<head>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-friends.css" rel="stylesheet">
	<link href="/css/hci-friends.css" rel="stylesheet">
	<title>My HCI Friends</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<a href = "/">Back to home</a>
	<p>You added a friend! </p>
	</body>
	</html>
